@import "tailwindcss";

:root {
  --background: #fcfcfc;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-lufga: var(--font-lufga);
}
@font-face {
  font-family: Lufga;
  font-style: normal;
  font-weight: 200;
  /* font-display: swap; */
  src: url("/fonts/Lufga-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Lufga;
  font-style: normal;
  font-weight: 800;
  /* font-display: swap; */
  src: url("/fonts/Lufga-ExtraBold.woff2") format("woff2");
}
@theme {
  /* COLORS */
  --color-grey: #e6e6e6;
  --color-snow-white: #fcfcfc;
  /* RADIUS */
  --radius-20: 20px;
  --radius-22: 22px;

  /* DROP SHADOW */
  --drop-shadow-custom: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.02));

  /* LETTER SPACING */
  --tracking-tightest: -1.5px;
  --tracking-0.18: -0.18px;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
.drop-shadow-combined {
  filter: drop-shadow(0px -1px 2px rgba(48, 59, 10, 0.12))
    drop-shadow(-1px 0px 4px rgba(48, 59, 10, 0.12));
}
