@import "tailwindcss";

:root {
  --background: #fcfcfc;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-inter: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}
@theme {
  /* COLORS */
  --color-grey: #e6e6e6;
  --color-snow-white: #fcfcfc;
  /* RADIUS */
  --radius-20: 20px;
  /* DROP SHADOW */
  --drop-shadow-custom: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.02));
  /* --drop-shadow-custom2: drop-shadow(0px -1px 2px rgba(48, 59, 10, 0.12));
  --drop-shadow-custom3: drop-shadow(-1px 0px 4px rgba(48, 59, 10, 0.12)); */
  --drop-shadow-combined: drop-shadow(0px -1px 2px rgba(48, 59, 10, 0.12)), drop-shadow(-1px 0px 4px rgba(48, 59, 10, 0.12));

  /* LETTER SPACING */
  --tracking-tightest: -1.5px;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
.drop-shadow-combined {
  filter: drop-shadow(0px -1px 2px rgba(48, 59, 10, 0.12))
          drop-shadow(-1px 0px 4px rgba(48, 59, 10, 0.12));
}